*env
__pycache__
# Dockerfile
# docker-compose.yml
Backend/*/migrations/*
Backend/*/*/migrations/*
API_Docs.md
cookies*
academiq_db_schema.md
AcademiQ_AI_Sprint.md
Project_Structure.md
AcademiQ_Sprint9_Error_Handling.md